$primary: #167c85;
$secondary: #1a355d;
$logo-offset-x: 0px;
$logo-offset-y: 0px;
$logo-file: none;
$logo-width: 300px;
$logo-height: 80px;

// Links
$link-color: $primary;
$link-hover-color: $secondary;
$link-decoration: none;
$link-hover-decoration: underline;
$btn-transition: none;