/* basic-layout */
html,
body {
  margin:0;
  padding:0;
  height:100%;
}
#container {
  min-height:100%;
  position: relative;
}

#container > .content {
  display: flex;
  width: 100%;
  margin-bottom: var(--gems-footer-height);
  padding-bottom: 20px;
}

#main-container {
  &.include-menu {
    float: right;
    width: 100%;
    #main {
      padding: 2rem;
    }
  }
}

header {
  @include make-row();
  @extend .justify-content-between;

  .logo {
    width: var(--gems-logo-width);
    height: var(--gems-logo-height);
    @extend .col-sm-3;
    background: var(--gems-logo-file) var(--gems-logo-offset-x) var(--gems-logo-offset-y) no-repeat;
  }
  .description {
    @extend .col;
    /* width: 300px; */
  }

  .tools {
    @extend .col-sm-3;
    display: flex;
    justify-content: flex-end;
  }

  .login-status {
    display: inline-block;
    border-right: var(--gems-gray-light) 1px solid;
    padding: 10px 10px 0px 10px;
    vertical-align: top;
    .logout {
      margin-left: 1em;
    }
  }
  .language-select {
    padding: 10px 10px 0px 10px;
    display: inline-block;
  }
}

body {
  background-color: var(--gems-body-background);
  color: var(--gems-body-color);
}

.tab-pane {
  padding: 15px;
}

.login-form {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col(4);
  }
}

footer {
  @include make-row();
  position:absolute;
  z-index: 10;
  bottom:0;
  width:100%;
  height: var(--gems-footer-height);   /* Height of the footer */
  background: var(--gems-footer-background);
  color: var(--gems-footer-text-color);
  a {
    margin: 1em;
    color: var(--gems-footer-color);
    text-decoration: underline;
  }
  overflow: hidden;
  #version {
    padding: 1em;
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
  }

  #username {
    @include make-col-ready();
    @include media-breakpoint-up(sm) {
      @include make-col(6);
    }
    text-align: right;
  }
}

.ui-progressbar {
  @extend .progress;
  .ui-progressbar-value {
    background: none;
    @extend .progress-bar;
    @extend .bg-success;
    margin: 0;
  }
  .ui-progressbar-text {
    padding: 0;
  }
}

@media (max-width: map.get($grid-breakpoints, 'md')) {
  #main-container.include-menu {
    margin-left: 0;
    #main {
      margin-left: 0;
    }
  }

  #menu {
    display: none;
  }
}

.panel {
  @extend .card;
}
.panel-body {
  @extend .card-body;
}