.pagination {
  // Pagination
  --bs-pagination-active-bg: var(--bs-primary);
  --bs-pagination-active-border-color: var(--bs-primary);
  margin: 0;
}

.pagination-index {
  //border: #dee2e6 1px solid;
  //border-radius: .25rem;
  padding: 0 .5rem;
  color: #6c757d;
  .btn-sm {
    border-radius: 0;
    box-shadow: none;
    margin: 0 .5rem;
    padding: .15rem .5rem;
  }
  .form-inline {
    display: inline-block;
    margin: 0;
    .form-control {
      @extend .form-control-sm;
      padding-right: 1rem;
    }
  }
}