.rte-editor {
  .menu {
    border: #aaa 1px solid;
    border-bottom: none;
    padding: .25rem;
    button {
      background: white;
      color: black;
      border: none;
      padding: .25rem .5rem;
      margin: .25rem;
      &:hover {
        background: #eee;
      }
      &.active {
        background: #bfdbfe;
      }
      &:disabled {
        color: #aaa;
        cursor: not-allowed;
        &:hover {
          background: white;
        }
      }
    }
  }
  .editor .ProseMirror {
    border: #aaa 1px solid;
    padding: .5rem;
  }

  .dropdown {
    display: inline-block;
  }

  .dropdown-menu.open {
    display: block;
    padding: .5rem;
    li {
      cursor: pointer;
      &:nth-child(even) {
        background: #eee;
      }
      &:hover {
        background: #bfdbfe;
      }
    }
  }
}